{{text}}
<form [formGroup]="contactForm" (ngSubmit)="submit()">
<div class="form-group" >
  <label for="cenet-block">Name:
    <input type="text" name="" id="" formControlName="name">
  </label>
</div>
  <div class="form-group">
  <label for="cenet-block">Email:
      <input type="text" name="" id="" formControlName="email">
    </label>
  </div>
  <div class="foro-group">
    <label for="cenet-block">Text:
        <input type="text" name="" id="" formControlName="text">
      </label>
    </div>

<button type="submit" class="btn btn-sucess">Submit</button>
</form>